<div *ngFor="let node of tree | async; let lastParentNode = last">
    <app-node-tree [node]="node"></app-node-tree>
    <!--
        haure de fer algo aixi 
        <app-node-tree [node]="node" [lastParentNode]="lastParentNode" [lastNode]="lastNode"></app-node-tree>
        ngWhile(let (parent = getParent(node.idParent)).id != -1) {
            pintarem una linia i continua, si no es last
            pintarem una linia i fi, si es last
        } 
    -->
    <div>isLastParentNode={{lastParentNode}}</div> 
</div>
