<div *ngFor="let node of tree | async; let i of index">
  <app-node-tree [node]="node" [last]="i == tree.length"></app-node-tree>
  <div *ngIf="!node.sheet">
    <div *ngIf="node.expand" style="padding-left:10px">
      <div *ngFor="let child of node.childs; let j of index">
        <app-node-tree [node]="child" [last]="j == node.childs.length"></app-node-tree>
      </div>
    </div>
  </div> 
  <!--
      haure de fer algo aixi 
      <app-node-tree [node]="node" [lastParentNode]="lastParentNode" [lastNode]="lastNode"></app-node-tree>
      ngWhile(let (parent = getParent(node.idParent)).id != -1) {
          pintarem una linia i continua, si no es last
          pintarem una linia i fi, si es last
      } 
  -->
</div>
