div {
    background: #363ca1;
    border-radius: 4px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    will-change: transform;
    cursor: pointer;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.images {
    float: left;
    display: block;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}