<div id="{{ node.id }}">
    <img *ngIf="!last" src="../assets/line_node_and_continue.png" (click)="clickExpandCollapse()"/>
    <img *ngIf="last" src="../assets/line_node_and_end.png" (click)="clickExpandCollapse()"/>
    <img *ngIf="!node.sheet && node.expand" src="../assets/collapse_icon.png" (click)="clickExpandCollapse()"/>
    <img *ngIf="!node.sheet && !node.expand" src="../assets/expand_icon.png" (click)="clickExpandCollapse()"/>
    <img *ngIf="node.sheet" src="../assets/line_sheet.png" (click)="clickExpandCollapse()"/>

    <span><b>{{ node.name }}</b> el seu pare es: {{ node.idParent }}</span>
</div>